.form {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    border: none;
    flex-basis: 100%;
    background-color: white;
}

@media (max-width: 772px) {
    .form {
        flex-wrap: wrap;
        padding: 5px;
        text-align: center;
    }
}

.form__item {
    padding: 5px 10px;
}

.form__item--input {
    flex-basis: 80%;
}

@media (max-width: 405px), (min-width: 771px) {
    .form__item--input {
        flex-basis: 80%;
    }
}

@media (max-width: 772px) {
    .form__item--input {
        flex-basis: 100%;
    }
}

.form__item--button {
    flex-basis: 20%;
}

@media (max-width: 405px), (min-width: 771px) {
    .form__item--button {
        flex-basis: 20%;
    }
}

@media (max-width: 772px) {
    .form__item--button {
        flex-basis: 100%;
    }
}

.form__input {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.form__button {
    background-color: hsl(180, 100%, 25%);
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    transition: 0.3s;
}

.form__button:hover{
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.1);
}