html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  background-color: #ddd;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  max-width: 900px;
}

/* .body__label {
  font-size: xx-large;
  font-weight: 900;  
  padding: 10px 0px; 
  
} */

/* .body__label--toDoListLabel{
  font-size: large;
  font-weight: 900;
} */
/* .body__label--addNewTask {
  font-size: large;
  font-weight: 900;
} */