.buttons {
    background-color: white; 
    padding: 20px 0px; 
  }

.buttons__buttonContainer {
    background-color: white;
  }

  @media (max-width: 500px) {
    .buttons__buttonContainer{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
     
    }
  } 
  
  .buttons__button {
    border: none;
    color: hsl(180, 100%, 25%);
    background-color: white;
    font-size: medium;
    transition: 0.3s;
  }

  .buttons__button:disabled{
    border: none;
    background-color: white;
    color: gray;
  }
  
  .buttons__button:active{
    border: none;
  }
  
  .buttons__button:hover {
    color: hsl(180, 100%, 35%);
  }

  .buttons__addNewTaskLabel {
    background-color: white;
    font-size: large;
    font-weight: 900;
    padding: 10px 20px;
  }
  
  .buttons__toDoListLabel {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    background-color: white;
    padding: 0px 20px;
  } 
  
  @media (max-width: 500px){
    .buttons__toDoListLabel{
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
  }

  .buttons__toDoList {
    background-color: white;
    padding: 5px 20px; 
  }
  
